{
  "$schema": "http://json.schemastore.org/prettierrc",
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "importOrder": [
    "^react(?!.*(sc|sa|c)ss$).*",
    "^next(?!.*(sc|sa|c)ss$).*",
    "<THIRD_PARTY_MODULES>",
    "^api/(.*)$",
    "^config/(.*)$",
    "^services/(.*)$",
    "^components/(.*)$",
    "^core-ui/(.*)$",
    "^context/(.*)$",
    "^hooks/(.*)$",
    "^helpers|utils/(.*)$",
    "^interfaces/(.*)$",
    "^routes/(.*)$",
    "^pages/(.*)$",
    "^icons/(.*)$",
    "^public/(.*)$",
    "^[./]((?!.(sc|sa|c)ss)(?!.json).)*$",
    "^styles|assets|public/assets/(.*)$",
    "^\\w+.*\\.(sc|sa|c)ss$",
    "\\.json$",
    "\\.(sc|sa|c)ss$"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "classProperties", "decorators-legacy"]
}
