:root {
  --amiri-font-family: "Amiri Quran", serif;
  --amiri-font-weight-regular: 400;
  --amiri-font-weight-semibold: 600;
  --nastaliq-font-family: "Nastaliq Urdu", serif;
}


[lang="ar"] {
  font-family: var(--amiri-font-family);
}

[lang="ur"]{
  font-family: var(--nastaliq-font-family);
}
